body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "ＭＳ Ｐゴシック", sans-serif;
  width: 80%;
  margin: 0 auto;
}
p {
  color:#424242;
}

.project_selection {
  width:30%;
  float:left;
}


.w3-container:after, .w3-container:before {
    content:"";
    display:table;
    clear:both
}
.w3-light-grey {
    color:#000!important;
    background-color:#f1f1f1!important;
}
.w3-container:after, .w3-container:before {
    content:"";
    display:table;
    float:left;
}
.w3-blue {
    color:#fff!important;
    background-color:#2196F3!important
}
.w3-blue-before {
    color:#fff!important;background-color:#888888!important
}
.w3-center {
    text-align:center;
}
.drag-area {
    background-color:#999999;
    color:#000000;
    text-align:center
}
