body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "ＭＳ Ｐゴシック", sans-serif;
  width: 80%;
  margin: 0 auto;
}
p {
  color:#424242;
}

h1{
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 1px #96c2fe;
    padding: 0.2em 0.5em;
    color: #454545;
}

h2 {
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 3px #516ab6;/*下線*/
}

#separationTable {
   table-layout: fixed;
   width: 100%;
   text-align: center;
   vertical-align: middle;
}
#separationTable th {
   background: #eaf3ff;/*背景色*/
   color: #010101;/*文字色*/
   width: 50px;
   height: 50px;
}
#separationTable td {
   background: #e6e6e6;
   color: #000000;/*文字色*/
   width: 50px;
   height: 50px;
}

#separationTable .sep_td_0 {
   background: #44D37E;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_1 {
   background: #44D37E;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_2 {
   background: #F9BF4B;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_3 {
   background: #FF6969;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_4 {
   background: #6EC4FF;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_5 {
   background: #6EC4FF;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_6 {
   background: #9573FF;
   color: #000000;/*文字色*/
}

#separationTable .sep_td_7 {
   background: #9573FF;
   color: #000000;/*文字色*/
}

.sep_box {
    margin: 2em 0;
    background: #dcefff;
}
.sep_box .box-title {
    font-size: 1.2em;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.sep_box p {
    padding: 15px 20px;
    margin: 0;
}
.next-step {
    color: #364e96;/*文字色*/
    border: solid 3px #364e96;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
}

.button_red {
    border-color: #f44b5c;
    color: #f44b5c;
    float: right !important;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    background: #eaf3ff;/*背景色*/
    border-left: solid 6px #516ab6;/*左線*/
    color: #010101;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.project_selection {
  width:30%;
  float:left;
}


.w3-container:after, .w3-container:before {
    content:"";
    display:table;
    clear:both
}
.w3-light-grey {
    color:#000!important;
    background-color:#f1f1f1!important;
}
.w3-container:after, .w3-container:before {
    content:"";
    display:table;
    float:left;
}
.w3-blue {
    color:#fff!important;
    background-color:#2196F3!important
}
.w3-blue-before {
    color:#fff!important;background-color:#888888!important
}
.w3-center {
    text-align:center;
}
.drag-area {
    background-color:#999999;
    color:#000000;
    text-align:center
}


#dataTable td {
  border-width: 1px 0;
  border-style: solid;
  border-color: #999;
}

.introduction {
    font-size: 80%;
    color: #1C1C1C;
}
#evaluate_error {
    color: #f44b5c;
}

#example_images h3 {
}

#example_images div {
 display: block;
 margin: auto;
 }
