<!DOCTYPE html>
<html>
  <head>

      <title>{{ user_name }}</title>

    <link rel="stylesheet" href={{css_url}}/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        /////////////////////////////////////////////////////////////////////
        // プロジェクト系の設定

        $(window).load(function () {

            // 全体の更新
            var update_view = function(){
                $("#project_name_new").val("");
                $.post("/show_project",function(data){
                    $("#project_select_list").html("");
                    for(var i=data.project_name.length-1;i>=0;i--){
                        $("#project_select_list").append("<option value="+data.project_name[i]+">"+data.project_name[i]+"</option>");
                    }
                });
                // TODO: カテゴリの更新
            }

            // 初回の画面更新
            update_view();

            // プロジェクトの追加
            $("#project_add").on("click",function()
                {
                    var project_name = $("#project_name_new").val();
                    if(project_name=="")
                    {
                        alert("プロジェクト名未入力");
                    }
                    else
                    {
                        $.ajax({
                            url:"/new_project",
                            type:"POST",
                            contentType: "application/json; charset=utf-8",
                            data:JSON.stringify({"project_name":project_name})
                        }).then(function(){
                            update_view();

                        });
                    }
                });

            // プロジェクトの削除
            $("#project_del").on("click",function()
                {
                    var project_name = $("#project_select_list").val();
                    {
                        $.ajax({
                            url:"/del_project",
                            type:"POST",
                            contentType: "application/json; charset=utf-8",
                            data:JSON.stringify({"project_name":project_name})
                        }).then(function(){
                            update_view();
                        });
                    }
                });
            });

        /////////////////////////////////////////////////////////////////////
        // データの読み込み・カテゴリ修正に関する設定
        $(function () {

            var category_index_total = 0;

            // 行を追加ボタン
            $('#addRow').on('click', function() {
                // カテゴリ番号を取得する。これは、今出ているものの最大のものを使う
                $('#dataTable tbody').append(
                    '<tr>'+
                        '<td width=20%>'+
                            '<form class="well form-inline">'+
                                '<input type="text" name="category_name" class="input" category_index="'+category_index_total+'" placeholder="Category'+category_index_total+'">'+
                            '</form>'+
                        '</td>'+
                        '<td width=20%>'+
                            '<form class="well form-inline" category_index="'+category_index_total+'">'+
                                '<input type="radio" name="train_or_test" value="train" checked="checked">学習用'+
                    '<br>'+
                                '<input type="radio" name="train_or_test" value="test">評価用'+
                            '</form>'+
                        '</td>'+
                        '<td width=50%>'+
                            '<div class="drag-area" category_index="'+category_index_total+'">'+
                                '<div class="w3-light-grey" style="width:80%">'+
                                    '<div class="w3-container w3-blue-before w3-center" style="width:100%">Drop files here</div>'+
                                '</div>'+
                            '</div>'+
                        '</td>'+
                        '<td width=10%>'+
                            '<button class="del-line" type="button" name="delete" category_index="'+category_index_total+'" >削除</button>'+
                        '</td>'+
                    '</tr>'
                );
                category_index_total += 1;
            });

            // 最初に一行だけ追加しておく
            $('#addRow').trigger("click");

            // 削除ボタンの実装
            $('tbody').on("click",'.del-line',function(){
                // 画面から削除する
                $(this).closest("tr").remove();

                // TODO: サーバーからも削除する
            });


            // ファイルのアップロード処理
            var uploadFiles = function(files,category_idx) {
                // FormDataオブジェクトを用意
                var fd = new FormData();

                // ファイルの個数を取得
                var filesLength = files.length;
                if(filesLength>0){
                    $(".w3-container").removeClass("w3-blue-before");
                    $(".w3-container").addClass("w3-blue");
                }

                // ファイル情報を追加
                //for (var i = 0; i < filesLength; i++) {
                //    console.log(files[i]["name"]);
                //    fd.append("file", files[i]);
                //}
                fd.append("file", files[0]);

                //fd.append("image", getBase64(files[0]));
                //fd.append("image", "aaaa");

                // Ajaxでアップロード処理をするファイルへ内容渡す
                $.ajax({
                    url: '/upload/'+"project1/"+category_idx,
                    type: 'POST',
                    data: fd,
                    processData: false,
                    contentType: false

                }).success(function(data) {
                  var progre = 100;//parseInt(e.loaded/e.total * 100);
                  $('.drag-area[category_index="'+category_idx+'"]').find('.w3-container').attr("style","width:"+progre+"%").text(progre+"%");
                    console.log(data);

                }).fail(function(data) {
                    console.log(data.responseText);
                });
            };

            // ファイルドロップ時の処理
            $('tbody').on('drop','.drag-area',function(e){
                // デフォルトの挙動を停止
                e.preventDefault();

                // ファイル情報を取得
                var files = e.originalEvent.dataTransfer.files;
                uploadFiles(files,$(this).attr("category_index"));

            // デフォルトの挙動を停止　これがないと、ブラウザーによりファイルが開かれる
            }).on('dragenter','.drag-area', function(){
                return false;
            }).on('dragover','.drag-area', function(){
                return false;
            });

            // ボタンを押した時の処理
            $('tbody').on('click', '.drag-area', function() {
                var input = $(document.createElement("input"));
                input.attr("type", "file");
                files = input.trigger("click"); // opening dialog
                //uploadFiles(files,$(this).attr("category_index"));
                return false; // avoiding navigation
            });

            // カテゴリ名が変更されたときの処理
            var change_category = function(category_idx) {
                var tr_item = $('tbody').find('input[category_index="'+category_idx+'"]').closest('tr');
                var data = {
                    category_name: $(tr_item).find('input[name="category_name"]').val(),
                    category_type: $(tr_item).find('input[name="train_or_test"]:checked').val()
                };
                console.log(JSON.stringify(data));

                $.ajax({
                    url: '/change_category/project1/'+category_idx,
                    type: 'POST',
                    data: JSON.stringify(data),
                    processData: false,
                    contentType: false
                });
                return false; // avoiding navigation
            };
            $('tbody').on('change', 'input[name="train_or_test"]', function(){
                var category_idx = $(this).closest('tr').find('input').attr("category_index");
                change_category(category_idx);
                return false;});

            $('tbody').on('keypress', 'input[name="category_name"]', function(e){
                if (e.which === 13) {
                    var category_idx = $(this).closest('tr').find('input').attr("category_index");
                    change_category(category_idx);
                    return false;
                    }
                });
        });



    </script>

  </head>

  <body>
    <!-- ヘッダ -->
    <h1> Rapid Data Diagnosis</h1>

    <!-- プロジェクトの選定を行う -->
    <h2> Step1: プロジェクト名の設定/選定</h2>

    <div class="project_selection">
        プロジェクトを選択
        <select id="project_select_list">
        </select>
    </div>
    <div class="project_add_and_del">
        新規プロジェクトを追加
        <input id="project_name_new">
        </input>
        <button id="project_add">
            追加
        </button>
        <br>
        選択プロジェクトを削除
        <button id="project_del" class="button_red">
            削除
        </button>
    </div>

    <!-- データ送信を行う -->
    <h2> Step2: データのアップロード </h2>
    <p>
    "アップロード進捗"バーの上に複数ファイルをドラッグアンドドロップ、もしくはクリックすることでファイルをアップロード
    </p>

    <p>
    その後、分析結果がわかりやすいような"カテゴリ名"を指定します。それぞれのカテゴリが、学習データに属しているか、評価用のデータかも指定します。
    </p>

    <table id="dataTable" width=90%>
        <thead>
            <tr>
                <th>カテゴリ名</th>
                <th>データ種別</th>
                <th>アップロード進捗</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <button type="button" id="addRow">1行追加</button>


    <!-- 分離度のチェックを行う -->

  </body>
</html>
