<!DOCTYPE html>
<html>
  <head>

    <title>Hello, world</title>

    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        $(function() {
            // ファイルのアップロード処理
            var uploadFiles = function(files) {
                // FormDataオブジェクトを用意
                var fd = new FormData();

                // ファイルの個数を取得
                var filesLength = files.length;
                if(filesLength>0){
                    $(".w3-container").removeClass("w3-blue-before");
                    $(".w3-container").addClass("w3-blue");
                }

                // ファイル情報を追加
                for (var i = 0; i < filesLength; i++) {
                    console.log(files[i]["name"]);
                    fd.append("file", files[i]);
                }

                // Ajaxでアップロード処理をするファイルへ内容渡す
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: fd,
                    processData: false,
                    contentType: false,
                    xhr : function(){
                        var XHR = $.ajaxSettings.xhr();
                        XHR.upload.addEventListener('progress',function(e){
                            var progre = parseInt(e.loaded/e.total * 100);
                            $('.w3-container').attr("style","width:"+progre+"%").text(progre+"%");
                        });
                        return XHR;
                    }


                }).done(function(data) {
                    console.log(data);

                }).fail(function(data) {
                    console.log(data.responseText);
                });
            };

            // ファイルドロップ時の処理
            $('.drag-area').on('drop', function(e){
                // デフォルトの挙動を停止
                e.preventDefault();

                // ファイル情報を取得
                var files = e.originalEvent.dataTransfer.files;
                uploadFiles(files);


            // デフォルトの挙動を停止　これがないと、ブラウザーによりファイルが開かれる
            }).on('dragenter', function(){
                return false;
            }).on('dragover', function(){
                return false;
            });


            // ボタンを押した時の処理
            $('.drag-area').on('click', function() {
                var input = $(document.createElement("input"));
                input.attr("type", "file");
                files = input.trigger("click"); // opening dialog
                uploadFiles(files)
                return false; // avoiding navigation
            });
        });
    </script>

  </head>

  <body>
    <!-- ヘッダ -->

    <!-- データ送信を行う -->
    <div class="drag-area">
        <div class="w3-light-grey" style="width:80%">
            <div class="w3-container w3-blue-before w3-center" style="width:100%">Drop files here</div>
        </div>
    </div>

    <div class="container">
        <div class="span12">
            <div id="sdcontainer">
                <form class="well form-inline">

                    <input id="input1" type="text" class="input" placeholder="This text will get returned">
                    <input id="input2" type="text" class="input" placeholder="This text won't">

                    <button id="runajax" class="btn btn-primary">Run</button>
                </form>
                <span id="responsefield"></span>
            </div>
        </div>
    </div>

    <!-- 分離度のチェックを行う -->

  </body>
</html>
