<!DOCTYPE html>
<html>
  <head>

      <title>DSDL</title>

    <link rel="stylesheet" href={{css_url}}/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        /////////////////////////////////////////////////////////////////////
        // プロジェクト系の設定

        $(window).load(function () {
            // 行を追加する関数
            var add_new_category_line = function(category_id,category_name,category_type,items_uploaded){
                // 問い合わせたcategory_idに対応する行を作成する
                htmlStr = '<tr>'+
                        '<td width=20%>'+
                        '<input type="text" name="category_name" class="input" category_index="'+category_id+'" value="'+category_name+'">'+
                        '</td>'+
                        '<td width=20%>'
                if(category_type=="train")
                {
                    htmlStr +='<input type="radio" name="train_or_test_'+category_id+'" value="train" checked>学習用'+
                        '<br>'+
                        '<input type="radio" name="train_or_test_'+category_id+'" value="test">評価用'+
                        '</td>'
                }
                else
                {
                    htmlStr +='<input type="radio" name="train_or_test_'+category_id+'" value="train">学習用'+
                        '<br>'+
                        '<input type="radio" name="train_or_test_'+category_id+'" value="test" checked>評価用'+
                        '</td>'
                }
                htmlStr += '<td width=50%>'+
                            '<div class="drag-area" category_index="'+category_id+'">'+
                                '<div class="w3-light-grey" style="width:100%">'
                if(items_uploaded==0)
                {
                    htmlStr +=          '<div class="w3-container w3-blue-before w3-center" is_sending="No" total_num=0 style="width:100%">Drop files here</div>';
                }
                else
                {
                    htmlStr +=          '<div class="w3-container w3-blue w3-center"  is_sending="No" total_num='+items_uploaded+' style="width:100%">'+items_uploaded+'/'+items_uploaded+' (100%)</div>';
                }
                htmlStr +=     '</div>'+
                            '</div>'+
                        '</td>'+
                        '<td width=10%>'+
                            '<button class="button_red del-line type="button" name="delete" category_index="'+category_id+'" >削除</button>'+
                        '</td>'+
                    '</tr>'
                $('#dataTable tbody').append(htmlStr);

            };


            // 全体の更新
            var update_view_category = function(){
                var defer = $.Deferred();
                console.log("update_view_category");
                $.ajax({
                    url:"/get_category",
                    type:"POST",
                    contentType: "application/json; charset=utf-8"
                }).then(function(data){
                    console.log(data);
                    if(data.items.length==0){
                      // 一行も存在しない場合、はじめに一行追加してあげる
                      add_category();
                    }
                    $('#dataTable tr:not(:first)').remove();
                    for(var i=0; i<data.items.length; i++)
                    {
                        add_new_category_line(data.items[i].category_id,data.items[i].category_name,data.items[i].category_type,data.items[i].items_uploaded);
                    }
                    defer.resolve();
                });
                return defer.promise();
            }

            // 読み込み時に実行
            update_view_category();

            // プロジェクトの削除 & 新規作成
            $(".project_del").on("click",function()
                {
                  console.log("project_del");
                      $.ajax({
                          url:"/new_project",
                          type:"POST",
                          contentType: "application/json; charset=utf-8"
                      }).then(function(){
                          update_view_category();
                      });
                });

        /////////////////////////////////////////////////////////////////////
        // データの読み込み・カテゴリ修正に関する設定
            // 行を追加ボタン
            var add_category = function() {
                // カテゴリ番号を取得して、リストを追加する
                $.ajax({
                    url:"/add_category",
                    type:"POST",
                    contentType: "application/json; charset=utf-8"
                }).then(function(data){
                    category_id = data.category_id;
                    console.log("add_category() category_id="+category_id);
                    update_view_category();
                });
            };

            // 行を追加ボタン実行時に上記が呼ばれるようにする
            $('#addRow').on('click', function(){add_category();});

            // 削除ボタンの実装
            $('tbody').on("click",'.del-line',function(){
                category_id = $(this).closest('tr').find('input').attr("category_index");
                console.log(".del-line category_id="+category_id);

                $.ajax({
                    url:"/delete_category",
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(
                        {"category_id":$(this).closest('tr').find('input').attr("category_index")
                        })
                }).then(function(data){
                    // 画面から削除する
                    update_view_category();
                });

            });

            // 一つのファイルのアップロード処理
            var uploadOneByOne = function(arrfiles,category_id,current_num,total_num){
              // Ajaxでアップロード処理をするファイルへ内容渡す
              file = arrfiles.shift();
              var fd = new FormData();
              console.log(file["name"]);
              fd.append("file", file);
              $.ajax({
                  url: '/upload/'+category_id,
                  type: 'POST',
                  data: fd,
                  processData: false,
                  contentType: false
              }).done(function(data){
                current_num +=1;
                var progre = parseInt(current_num/total_num * 100);
                $('.drag-area[category_index="'+category_id+'"]').find('.w3-container').attr("style","width:"+progre+"%").text(current_num+"/"+total_num+" ("+progre+"%)");
                    console.log(data);

                if(arrfiles.length>0)
                {
                  //再帰呼び出し
                  uploadOneByOne(arrfiles,category_id,current_num,total_num);
                }
              });
            }

            // ファイルのアップロード処理
            var uploadFiles = function(files,category_id) {
                // ファイルの個数を取得
                var filesLength = files.length;
                if(filesLength>0){
                    $("[category_index='"+category_id+"'] .w3-container").removeClass("w3-blue-before");
                    $("[category_index='"+category_id+"'] .w3-container").addClass("w3-blue");
                }
                // ファイルを送信。サーバーの返信を待ってから送りたいので、このような再帰となる。
                var arrfiles=[];
                if($("[category_index='"+category_id+"'] .w3-container").attr("is_sending")=="Yes"){
                  return false;//同時には送信できないようにする。同時に送信するとDBで適切なインデックスが付けられない。
                }
                $("[category_index='"+category_id+"'] .w3-container").attr("is_sending","Yes");
                var total_num = parseInt($("[category_index='"+category_id+"'] .w3-container").attr("total_num"));
                for(var i=0; i<files.length;i++){
                  arrfiles.push(files[i]);
                }
                uploadOneByOne(arrfiles,category_id,total_num,total_num+files.length).done(function(){
                  $("[category_index='"+category_id+"'] .w3-container").attr("is_sending","No");
                });
            };

            // ファイルドロップ時の処理
            $('tbody').on('drop','.drag-area',function(e){
                // デフォルトの挙動を停止
                e.preventDefault();

                // ファイル情報を取得
                var files = e.originalEvent.dataTransfer.files;
                uploadFiles(files,$(this).attr("category_index"));

            // デフォルトの挙動を停止　これがないと、ブラウザーによりファイルが開かれる
            }).on('dragenter','.drag-area', function(){
                return false;
            }).on('dragover','.drag-area', function(){
                return false;
            });

            // カテゴリ名が変更されたときの処理
            var change_category = function(category_id) {
                var tr_item = $('tbody').find('input[category_index="'+category_id+'"]').closest('tr');
                var data = {
                    project_name : $("#project_select_list").val(),
                    category_id: category_id,
                    category_name: $(tr_item).find('input[name="category_name"]').val(),
                    category_type: $(tr_item).find('input[type="radio"]:checked').val()
                };
                console.log(JSON.stringify(data));

                $.ajax({
                    url: '/change_category',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                });
                return false; // avoiding navigation
            };
            $('tbody').on('change', 'input[type="radio"]', function(){
                var category_id = $(this).closest('tr').find('input').attr("category_index");
                change_category(category_id);
                return false;});

            $('tbody').on('change', 'input[name="category_name"]', function(e){
                var category_id = $(this).closest('tr').find('input').attr("category_index");
                change_category(category_id);
                return false;
                });

            var put_images = function(didList){
              var cols = 8;
              html = "";
              while(true){
                if(didList.length==0){break;}
                did = didList.shift();
                category_id = did[0];
                data_id = did[1];
                html += "<img src='/show_image/"+category_id+"/"+data_id+"'>";
              }
              return html;
            }
            var put_gradcam = function(didList,category_id1,category_id2){
              var cols = 8;
              html = "";
              while(true){
                if(didList.length==0){break;}
                did = didList.shift();
                data_id1 = did[1];
                html += "<img src='/show_gradcam/"+category_id1+"/"+category_id2+"/"+data_id1+"'>";
              }
              return html;
            }
            //
            var ask_questions = function(){
            }

            // evaluate_startの処理
            var long_text = {};
            $('#evaluate_start').on('click', function() {
              $("#questions").html("");
              // ファイル名等の確認
              $.ajax({
                  url:"/get_category",
                  type:"POST",
                  contentType: "application/json; charset=utf-8"
              }).then(function(data){
                $("#evaluate_error").text("");
                if(data.items.length<2){
                  // 一行も存在しない場合、はじめに一行追加してあげる
                  $("#evaluate_error").text("2つ以上の学習カテゴリを指定してください。");
                  return false;
                }
                for(var i=0; i<data.items.length; i++)
                {
                  //データ数が0でないことを確認
                  if(data.items[i].items_uploaded==0){
                    $("#evaluate_error").text(data.items[i].category_name+"に、データを追加してください。");
                    return false;
                  }
                  //評価データの名前が学習データに紐付いていることを確認
                  if(data.items[i].category_type=="test"){
                    //console.log(data.items[i].category_name);
                    var flag = false;
                    for(var j=0;j<data.items.length;j++){
                      //console.log(data.items[j].category_name);
                      if((data.items[j].category_type=="train") && (data.items[j].category_name==data.items[i].category_name)){
                        flag=true;
                        break;
                      }
                    }
                    if(flag==false){
                      $("#evaluate_error").text(data.items[i].category_name+"に対応する学習データがありません。このカテゴリを削除してください。");
                      return false;
                    }
                  }
                }

                console.log("start 1st evaluation");
                $.ajax({
                    url: '/evaluate',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8"
                }).then(function(data) {
                    // ここで人間に質問をする
                    for(var p = 0; p<data.train_pairs.length; p++)
                    {
                        var sep_val = data.train_pairs[p].result_flag;
                        var max_num_of_images = 16; // 最大16枚の画像まで表示
                        var category_id_1=data.train_pairs[p].category_id_1;
                        var category_id_2=data.train_pairs[p].category_id_2;
                        console.log("p="+p+", sep_val="+sep_val);
                        if(sep_val==-3)
                        {
                            var example_did = [];
                            for(var k=0; k<data.train_pairs[p].result_example1.length; k++)
                            {
                                if(k>max_num_of_images) break;
                                example_did.push(data.train_pairs[p].result_example1[k]);
                            }
                            console.log(example_did);
                            // gradcamによる識別結果を人間に問いかける
                            q_text = "<div class='box-title'>注目点の確認</div>";
                            q_text += "<p>以下の画像は、ニューラルネットワークによる認識が、画像の中のどの箇所を手がかりにして行われたかをハイライトしています (赤い箇所ほど注目度合いが強い)。表示されている画像のうちいくつで、注目するべき物体がハイライトされているかを確認してください。</p>";

                            q_text += "<select id='num_of_grad'>";
                            for(var t=1; t<=max_num_of_images; t++)
                            {
                                q_text += "<option value='"+t+"'>"+t+"</option>";
                            }
                            q_text += "</select>";
                            q_text += "<h3 class='example_images'>";
                            q_text += put_gradcam(example_did,category_id_1,category_id_2);
                            q_text += "</h3>";

                            $("#questions").html(q_text);
                            console.log(q_text);

                            $("#questions #num_of_grad").on("change",function(){
                                $.ajax({
                                    url: '/input_grad',
                                    type: 'POST',
                                    data:JSON.stringify(
                                        {"category_id_1":category_id_1,
                                         "category_id_2":category_id_2,
                                         "num_good": parseInt($("#questions #num_of_grad").val()),
                                         "num_total": max_num_of_images
                                        }),
                                    contentType: "application/json; charset=utf-8"
                                }).then(function(data) {
                                    //ask_questions();
                                    $("#evaluate_start").trigger("click");
                                });
                            });
                            return false; // はじめの-3だけ表示させて後はループ諸々を抜ける
                        }
                    }
                }).then(function(){

                    console.log("start 2nd evaluation");
                    $.ajax({
                        url: '/evaluate',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8"
                    }).then(function(data) {
                        console.log(data);
                        $("#separationTable tbody").html("");
                        // 1行目を作る
                        $("#separationTable tbody").append("<tr></tr>");
                        $("#separationTable tbody tr").append("<th></th>");
                        for(var i = 0; i<data.train_matrix.col.length; i++)
                        {
                            $("#separationTable tbody tr").append("<th>"+data.train_matrix.col[i]+"</th>");
                        }
                        // 2行目以降を作る
                        for(var i = 0; i<data.train_matrix.col.length; i++)
                        {
                            $("#separationTable tbody").append("<tr></tr>");
                            $("#separationTable tbody tr").last().append("<th>"+data.train_matrix.col[i]+"</th>");
                            for(var j = 0; j<data.train_matrix.col.length; j++)
                            {
                                var sep_val = -1;
                                var max_num_of_images = 16; // 最大16枚の画像まで表示
                                var example_did1 = [];
                                var example_did2 = [];
                                var category_id_1 = data.train_matrix.idx[i];
                                var category_id_2 = data.train_matrix.idx[j];
                                for(var p=0; p<data.train_pairs.length; p++)
                                {
                                    if( (category_id_1==data.train_pairs[p].category_id_1) && (category_id_2==data.train_pairs[p].category_id_2) )
                                    {
                                    console.log(data.train_pairs[p]);
                                        sep_val = data.train_pairs[p].result_flag;

                                        for(var k=0; k<data.train_pairs[p].result_example1.length; k++)
                                        {
                                        if(k>max_num_of_images) break;
                                        example_did1.push(data.train_pairs[p].result_example1[k]);
                                        }

                                        for(var k=0; k<data.train_pairs[p].result_example2.length; k++)
                                        {
                                        if(k>max_num_of_images) break;
                                        example_did2.push(data.train_pairs[p].result_example2[k]);
                                        }
                                        console.log(category_id_1,category_id_2,sep_val);
                                        break;
                                    }
                                }
                                var sep_text = "";
                                var sep_long = "";
                                if(sep_val== -2){
                                sep_text = "計算エラー";
                                sep_long = "<div class='box-title'>計算エラー</div>";
                                sep_long += "<p>計算時にエラーが発生しました。画像数を増減させてみたりすることで改善される可能性があります。</p>";
                                }
                                if(sep_val== 0){
                                sep_text = "学習・推定<br>可能";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、正常に学習・推定を行うことが可能 ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"に対して、ニューラルネットは、"+data.train_matrix.col[j]+" と区別をするための特徴量をうまく抽出できています。そのため、ニューラルネットによる学習を行うことが可能です。</p>";
                                sep_long += "<p>"+"加えて、"+data.train_matrix.col[i]+" に属するデータに関しては、推論時のデータと学習時のデータが共通した性質を持っています。従って、推定も十分な精度で行うことが可能です。"+"</p>";
                                
                                sep_long += "<p>"+"加えて、非常に重要なのが、今回ニューラルネットワークは、正しく対象を認識した上で識別を行ったのか、それともその他の手がかりによって識別を行ったのかです。これを確かめるには、以下の図で、正しく物体の位置が赤でハイライトされているかを確認します。"+"</p>";

                                sep_long += "<h3 class='example_images'>";
                                sep_long += "注目点の例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_gradcam(example_did1,category_id_1,category_id_2);
                                sep_long += "</div>"
                                }
                                if(sep_val== 1){
                                sep_text = "学習可能";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、正常に識別可能 ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"に対して、ニューラルネットは、"+data.train_matrix.col[j]+" と区別をするための特徴量をうまく抽出できています。そのため、ニューラルネットによる学習・識別を行うことが可能です。</p>";
                                sep_long += "<p>"+"今回は評価データを指定されなかったため評価を行いませんでしたが、通常はこの後、学習データと評価データが作る特徴量が親しいかを分析し、推論時に十分な性能が期待できるかを評価します。"+"</p>";

                                sep_long += "<p>"+"加えて、非常に重要なのが、今回ニューラルネットワークは、正しく対象を認識した上で識別を行ったのか、それともその他の手がかりによって識別を行ったのかです。これを確かめるには、以下の図で、正しく物体の位置が赤でハイライトされているかを確認します。"+"</p>";

                                sep_long += "<h3 class='example_images'>";
                                sep_long += "注目点の例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_gradcam(example_did1,category_id_1,category_id_2);
                                sep_long += "</div>"
                                }

                                if(sep_val== 2){
                                sep_text = "データ数<br>不足";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、データ数不足 ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"は、データ量が不足しており、正常に学習が行なえません。特に、"+data.train_matrix.col[j]+" と比較した時にデータ量不足が顕著です。"+"</p>";
                                sep_long += "<p>一方で、ニューラルネットが抽出する出力は、 "+data.train_matrix.col[j]+" とは大きく異なっているため、十分なデータ量を揃えて学習をさせた場合、ニューラルネットによる学習・識別を行うことが可能です。</p>";
                                sep_long += "<p class='next-step'> 推奨される対策 </p>";
                                sep_long += "<ul>";
                                sep_long += "<li>"+data.train_matrix.col[i]+"のデータを集め、再度評価する"+"</li>";
                                sep_long += "</ul>";
                                }
                                if(sep_val== 3){
                                sep_text = "識別<br>困難";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、識別困難 ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"に関し、今回分析に使用した簡易的なニューラルネットワークでは、"+data.train_matrix.col[j]+"と区別を行うための十分な特徴量を見つけることができませんでした。</p>";


                                sep_long += "<h3 class='example_images'>";
                                sep_long += data.train_matrix.col[i]+"のうち、検知漏れが発生した例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_images(example_did1);
                                sep_long += "</div>"

                                sep_long += "<h3 class='example_images'>";
                                sep_long += data.train_matrix.col[j]+"が混入した例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_images(example_did2);
                                sep_long += "</div>"

                                sep_long += "<p class='next-step'> 推奨される対策 </p>";
                                sep_long += "<ul>";
                                sep_long += "<li>"+data.train_matrix.col[i]+"と"+data.train_matrix.col[j]+"のデータが、きちんと別カテゴリかを再度確認する</li>";
                                sep_long += "<li>画像データ間でカテゴリの違い以上に大きな撮影条件の変化 (屋内・屋外、イラスト・写真、フラッシュあり・なし、など)がある場合、それを一定にして再度学習データを収集する。</li>";
                                sep_long += "<li>"+data.train_matrix.col[i]+"と"+data.train_matrix.col[j]+"のデータを、何も知らない第三者に見せた時に、きちんと分類できるかを確認する。もしできないようであれば、まず人間が識別可能な程度にきれいなデータ作成の方法について、専門家へ相談。</li>";
                                sep_long += "<li>人間に識別可能な場合には、ニューラルネットワークの学習の工夫による対応が必要。ディープラーニングの専門家へ相談。</li>";
                                sep_long += "</ul>";
                                }
                                if(sep_val== 4){
                                sep_text = "検知率<br>低";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、検出されず見逃される割合が多い ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"は"+data.train_matrix.col[j]+"の特徴量と区別が付きづらくなっています。今回分析に使用した簡易的なニューラルネットワークでは判断に迷うものが多くありました。その他のニューラルネットワークでも、誤って見逃してしまうことが多く発生する可能性があります。</p>";


                                sep_long += "<h3 class='example_images'>";
                                sep_long += data.train_matrix.col[i]+"のうち、検知漏れが発生した例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_images(example_did1);
                                sep_long += "</div>"

                                sep_long += "<p class='next-step'> 推奨される対策 </p>";
                                sep_long += "<ul>";
                                sep_long += "<li>画像データ収集時の撮影条件を一定に近づけて、再度データを収集。再評価を行う。</li>";
                                sep_long += "<li>混同されがちなデータを大量に準備し、ニューラルネットワークを学習させる。</li>";
                                sep_long += "<li>"+data.train_matrix.col[i]+"と"+data.train_matrix.col[j]+"のデータを、何も知らない第三者に見せた時に、期待される以上の精度で区別できるかを確認する。もしできないようであれば、まずきれいなデータ作成の方法について、専門家へ相談。</li>";
                                sep_long += "<li>人間に識別可能な場合には、ニューラルネットワークの学習の工夫による対応が必要です。ディープラーニングの専門家へ相談。</li>";
                                sep_long += "</ul>";

                                }
                                if(sep_val== 5){
                                sep_text = "他カテゴリ<br>混入";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、誤検知することが多い ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"は"+data.train_matrix.col[j]+"の特徴量と区別が付きづらくなっています。今回分析に使用した簡易的なニューラルネットワークでは判断に迷うものが多くありました。その他のニューラルネットワークでも、誤検知が多く発生する可能性があります。</p>";

                                sep_long += "<h3 class='example_images'>";
                                sep_long += data.train_matrix.col[j]+"が混入した例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_images(example_did2);
                                sep_long += "</div>"

                                sep_long += "<p class='next-step'> 推奨される対策 </p>";
                                sep_long += "<ul>";
                                sep_long += "<li>画像データ収集時の撮影条件を一定に近づけて、再度データを収集。再評価を行う。</li>";
                                sep_long += "<li>混同されがちなデータを大量に準備し、ニューラルネットワークを学習させる。</li>";
                                sep_long += "<li>"+data.train_matrix.col[i]+"と"+data.train_matrix.col[j]+"のデータを、何も知らない第三者に見せた時に、期待される以上の精度で区別できるかを確認する。もしできないようであれば、まずきれいなデータ作成の方法について、専門家へ相談。</li>";
                                sep_long += "<li>人間に識別可能な場合には、ニューラルネットワークの学習の工夫による対応が必要です。ディープラーニングの専門家へ相談。</li>";
                                sep_long += "</ul>";
                                }
                                if(sep_val== 6){
                                sep_text = "学習可能・<br>推定困難";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、正常に学習・推定を行うことが可能 ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"に対して、ニューラルネットは、"+data.train_matrix.col[j]+" と区別をするための特徴量をうまく抽出できています。そのため、ニューラルネットによる学習を行うことが可能です。</p>";
                                sep_long += "<p>"+"一方で、"+data.train_matrix.col[i]+" に属するデータに関しては、推論時のデータと学習時のデータの性質が大きく異なり、推定時に十分な性能が出せない可能性があります。"+"</p>";
                                }
                                if(sep_val== 7){
                                sep_text = "偏った<br>データ";
                                sep_long = "<div class='box-title'>"+data.train_matrix.col[i]+" は、学習データが偏っており汎化性能獲得困難 ("+data.train_matrix.col[j]+"に対して)"+"</div>";
                                sep_long += "<p>"+data.train_matrix.col[i]+"に対して、ニューラルネットは、"+data.train_matrix.col[j]+" と区別をするための特徴量を、背景等、本質的でない箇所より取得しています。それらに頼った学習を行っている結果、背景等を変化させた場合に極端に性能が落ちることがあります。</p>";

                                sep_long += "<h3 class='example_images'>";
                                sep_long += "注目点の例";
                                sep_long += "</h3>";
                                sep_long += "<div class='example_images'>";
                                sep_long += put_gradcam(example_did1,category_id_1,category_id_2);
                                sep_long += "</div>"
                                }

                                var sep_id = "sep_"+i+"_"+j;
                                long_text[sep_id] = sep_long;
                                $("#separationTable tbody tr").last().append("<td id='"+sep_id+"' class='sep_td_"+sep_val+"'>"+sep_text+"</td>");
                                $("#"+sep_id).on("click",function(){
                                    console.log("clicked: "+$(this).attr("id"));
                                    $("#sep_desc .sep_box").html(long_text[$(this).attr("id")]);
                                });
                            }
                        }
                    },function(data) {
                    });
                });
              });
            });
        });


    </script>

  </head>

  <body>
    <!-- ヘッダ -->
    <h1> DTDL: Data Tester for Deep Learning </h1>

    <div class="introduction">
    <p> Deep Learningを用いた画像認識アルゴリズムでは、大量の画像を学習させることにより、自動的に認識の手がかりとなる特徴量を見つけ出すようなニューラルネットワークを構築します。学習の結果、十分な精度が出るか否かは、ニューラルネットワークの構造と学習データの品質によって大きく左右されます。</p>
    <p>前者のニューラルネットワークの構造に関しては、近年の活発な研究の成果として幅広いケースに対応可能な汎用モデルができつつあり、よほど精度を追求しない限りは、ユーザが意識する必要はなくなりつつあります。</p>
    <p>一方で、学習データに関してはユーザが強く意識をし、品質を保つよう務めなくてはなりません。さもないと、長期間・高いコストをかけ、大量のデータを集めても、いざ学習させてみたら精度が全く出ないといったことも起こりかねません。その場合、再度学習データ収集のやり方を見直すという手間が発生してしまいます。</p>
    <p>本ツールは、収集されたデータの品質を確認するための迅速診断を可能にすることで、データ収集開始直後から手戻りの無いよう確認を行うことができるサービスを提供します。</p>
    </div>

    <!-- データ送信を行う -->
    <h2> Step1: データのアップロード </h2>
    "アップロード進捗"バーの上に複数ファイルをドラッグアンドドロップ、もしくはクリックすることでファイルをアップロード
    <br>


    その後、分析結果がわかりやすいような"カテゴリ名"を指定します。それぞれのカテゴリが、学習データに属しているか、評価用のデータかも指定します。

    <div>
      <table id="dataTable" width=100%>
          <thead>
              <tr>
                  <th>カテゴリ名</th>
                  <th>データ種別</th>
                  <th>アップロード進捗</th>
                  <th>削除</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>

    <button type="button" id="addRow">1行追加</button>
    <button class="button_red project_del">
        すべて削除
    </button>

    <!-- 分離度のチェックを行う -->
    <h2> Step2: データの評価 </h2>
    以下のボタンを押して、データの評価を開始します。計算は数秒で完了します。その後いくつかの質問が表示される場合があります。
    <div>
        <div id="evaluate_start" class="square_btn">評価を開始</div>
    </div>
    <div id="evaluate_error">
    </div>
    <div id="questions">
    </div>

    <!-- 結果の表示 -->
    <h2> Step3: 結果の確認 </h2>

    学習するデータカテゴリ間で特徴的な差異が存在する場合、より学習がしやすくなります。
    ここでは、その差異の程度を表示しています。

    <table id="separationTable" width=90%>
        <tbody>
        </tbody>
    </table>

    <div id="sep_desc">
      <div class="sep_box">
        <h3 class="box-title">説明</h3>
        <p>ここに説明が表示されます</p>
      </div>
    </div>

    <h2> Step4: サーバー内のデータの削除 </h2>
    一連の評価が終わったら、以下のボタンを押し、サーバー中のデータを削除します。
    <button class="button_red project_del">
        サーバー内のデータを削除
    </button>
  </body>
</html>
